<%= form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
  </div>
  <div class="inputs">
    <%= f.input :surname %>
  </div>
  <div class="inputs">
    <%= f.input :card_number %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
